@font-face {
	font-family: "Gilroy"
	src: url("fonts/gilroy/Gilroyextrabold.ttf") format("truetype");

	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: "Gilroy"
	src: url("fonts/gilroy/Gilroylight.ttf") format("truetype");

	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Gilroy"
	src: url("fonts/gilroy/OpenSans-Light.ttf") format("truetype");

	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Gilroy"
	src: url("fonts/gilroy/OpenSans-Regular.ttf") format("truetype");

	font-style: normal;
	font-weight: 400;
}